body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-image: url("/images/background.jpg");
	margin: 0;
	padding: 0;
	color: #000;
}

.container {
	width:1020px;
	background-color: #FFF;
	margin: 0 auto;
}

.content {
	padding: 0px 15px 15px;
}

.navigation {
	font-size: 100%;
	text-align:center;
}

.bottom {
	text-align:center;
}

.subtitle {
	font-size: 15px;
	color: #0C0;
	text-align:center;
}

.ov {
	font-size: 16px;
}
th.ov {
	font-size: 16px;
	font-weight: bold;
	background: #ffffff;
	color: #FF9900;
}					
.ovImg {
	vertical-align: center;
	text-align: center;
}
th.index {
	font-size: 16px;
	color: #776B62;
	font-weight: bold;
}

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}

table.sites{
	border-collapse:collapse;
	border:0px;				
}
tr.sites{border:0px;}
